---
import CardImage from "./CardImage.astro";
import CardBody from "./CardBody.astro";
import CardUser from "./CardUser.tsx";

const articleInfo = {
  image: "images/drawers.jpg",
  body: {
    title:
      "Shift the overall look and feel by adding these wonderful touches to forniture in your home",
    text: "Ever been in a room and felt like something was missing? Perhaps it felt slightly bare and uninviting. I've got some simple tips to help you make any room feel complete.",
  },
  user: {
    avatar: "images/avatar-michelle.jpg",
    name: "Michelle Appleton",
    date: "28 Jun 2020",
  },
};

const { image, body, user } = articleInfo;
---

<article class="w-[350px] flex flex-col 2xl:flex-row 2xl:w-[850px]">
  <CardImage image={image} />
  <div class="bg-white rounded-b-xl 2xl:rounded-none 2xl:rounded-r-xl">
    <CardBody {...body} />
    <CardUser {...user} client:only/>
  </div>
</article>
