---
import "@fontsource/manrope/400.css";
import "@fontsource/manrope/700.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Astro description"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body class="grid place-content-center h-screen font-c-monrope bg-c-lGblue">
    <slot />
  </body>
</html>
<style is:global>
  @keyframes aparecer {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .aparecer-desde-abajo {
    opacity: 0;
    transform: translateY(100%);
    animation: aparecer 1s forwards;
  }
</style>
